# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
.env
data/baileys-auth

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.github
.cursor

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
package-lock.json
pnpm-lock.yaml
bun.lockb
yarn.lock
.yarn
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

.angular

# Nx graph generated output
static/
dependency-graph.html
